In [186]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [187]:
data = pd.read_csv('/home/natik/Downloads/movie_bd_v5.xls') # загрузка датасета
data.sample(5) # просмотр 5 произвольных строк датасета, чтобы понимать, какие данные там хранятся

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
542,tt0164334,60000000,105178561,Along Came a Spider,Morgan Freeman|Monica Potter|Michael Wincott|D...,Lee Tamahori,The game is far from over.,When a teacher kidnaps a girl from a prestigio...,104,Crime|Mystery|Thriller|Action,Paramount Pictures|AZL Productions KG|David Br...,4/6/2001,5.8,2001
767,tt1161864,37000000,96047633,The Rite,Anthony Hopkins|Colin O'Donoghue|Alice Braga|T...,Mikael HÃ¥fstrÃ¶m,You can only defeat it when you believe.,Seminary student Michael Kovak (Colin O'Donogh...,114,Drama|Thriller|Horror,New Line Cinema|Contrafilm|Mid Atlantic Films|...,1/28/2011,5.7,2011
1544,tt0365830,22000000,13405595,Tenacious D in The Pick of Destiny,Jack Black|Kyle Gass|Ronnie James Dio|Tim Robb...,Liam Lynch,An epic quest. A magical guitar pick. A chance...,"In Venice Beach, naive Midwesterner JB bonds w...",93,Comedy|Music,Red Hour Films,11/22/2006,6.2,2006
1196,tt1606378,92000000,304654182,A Good Day to Die Hard,Bruce Willis|Jai Courtney|Sebastian Koch|Mary ...,John Moore,Yippee Ki-Yay Mother Russia,"Iconoclastic, take-no-prisoners cop John McCla...",98,Action|Thriller,Ingenious Media|Twentieth Century Fox Film Cor...,2/6/2013,5.2,2013
1476,tt0343737,85000000,59908565,The Good Shepherd,Matt Damon|Angelina Jolie|Alec Baldwin|Tammy B...,Robert De Niro,The untold story of the most powerful covert a...,"Edward Wilson, the only witness to his father'...",167,Drama|Thriller|History,Universal Pictures|American Zoetrope|Morgan Cr...,12/11/2006,5.9,2006

In [188]:
data.describe() # основные статистические характеристики данных по каждому числовому признаку

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [189]:
answers = {} # словарь для ответов

# добавляем новую колонку profit, которая будет содержать информацию о прибыльности фильма:
data["profit"] = data["revenue"] - data["budget"]

# преобразуем колонку с датой к datetime формату
data['release_date'] = pd.to_datetime(data['release_date'].astype(str), format='%m/%d/%Y')

# словарь, соотносящий номер месяца и сезон
seasons = dict()
seasons['01'] = 'winter'
seasons['02'] = 'winter'
seasons['03'] = 'spring'
seasons['04'] = 'spring'
seasons['05'] = 'spring'
seasons['06'] = 'summer'
seasons['07'] = 'summer'
seasons['08'] = 'summer'
seasons['09'] = 'autumn'
seasons['10'] = 'autumn'
seasons['11'] = 'autumn'
seasons['12'] = 'winter'

# 1. У какого фильма из списка самый большой бюджет?

In [14]:
# ответ на первый вопрос: 
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [16]:
data[data['budget'] == data['budget'].max()]["original_title"]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [17]:
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [18]:
data[data['runtime'] == data['runtime'].max()]["original_title"]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

In [20]:
data[data['runtime'] == data['runtime'].min()]["original_title"]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [81]:
answers['4'] = '2. 109.6585494970884' # +

In [22]:
data['runtime'].mean()

109.6585494970884

In [23]:
# вариант 2: можно посмотреть поле mean из функции describe для поля runtime
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [24]:
answers['5'] = '1. 107' # +

In [25]:
data['runtime'].median()

107.0

In [26]:
# вариант 2: можно посмотреть поле 50% процентиль из функции describe для поля runtime
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 6. Какой самый прибыльный фильм?

In [27]:
answers['6'] = '5. Avatar (tt0499549)' # +

In [28]:
data[data["profit"]==data["profit"].max()]["original_title"]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [29]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # +

In [31]:
data[data["profit"]==data["profit"].min()]["original_title"]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
answers['8'] = '1. 1478' # +

In [34]:
len(data[data["profit"] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [35]:
answers['9'] = '4. The Dark Knight (tt0468569)' # +

In [36]:
data_2008 = data[data["release_year"]==2008]
data_2008[data_2008["profit"] == data_2008["profit"].max()]["original_title"]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [37]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # +

In [38]:
data_2012_2014 = data[(data["release_year"] >= 2012) & (data["release_year"] <= 2014)]
data_2012_2014[data_2012_2014["profit"] == data_2012_2014["profit"].min()]["original_title"]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [39]:
answers['11'] = '3. Drama' # +

In [58]:
data_genres = data.copy() # новый датасет,в котором каждому фильму будет соответсвовать строка с 1 жанром
data_genres['genres'] = data_genres['genres'].apply(lambda x: x.split('|'))
data_genres = data_genres.explode('genres')
data_genres['genres'].value_counts().sort_values(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [59]:
answers['12'] = '1. Drama' # +

In [61]:
data_genres[data_genres["profit"]>0]['genres'].value_counts().sort_values(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [103]:
answers['13'] = '5. Peter Jackson' # +

In [183]:
data_directors = data.copy() # новый датасет,в котором каждому фильму будет соответсвовать строка с 1 жанром
data_directors['director'] = data_directors['director'].apply(lambda x: x.split('|'))
data_directors = data_directors.explode('director')
data_directors.groupby(by='director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [105]:
answers['14'] = '3. Robert Rodriguez' # +

In [116]:
data_directors[data_directors.genres.str.contains("Action", na = False)].groupby('director').director.count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = '3. Chris Hemsworth' # +

In [184]:
data_cast = data.copy() # новый датасет,в котором каждому фильму будет соответсвовать строка с 1 жанром
data_cast2012 = data_cast[data_cast["release_year"] == 2012]
data_cast2012['cast'] = data_cast2012['cast'].apply(lambda x: x.split('|'))
data_cast2012 = data_cast2012.explode('cast')
data_cast2012.groupby(by='cast').revenue.sum().sort_values(ascending=False)

<ipython-input-184-8aef02ae12a6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cast2012['cast'] = data_cast2012['cast'].apply(lambda x: x.split('|'))

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = '4. Matt Damon' # +

In [267]:
data_cast_high = data_cast[data["budget"] > data["budget"].mean()]
data_cast_high['cast'] = data_cast_high['cast'].apply(lambda x: x.split('|'))
data_cast_high = data_cast_high.explode('cast')
data_cast_high.groupby(by='cast').cast.count().sort_values(ascending=False)

<ipython-input-267-896a882cbb0b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cast_high['cast'] = data_cast_high['cast'].apply(lambda x: x.split('|'))

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = '2. Action' # +

In [125]:
data_cage = data.copy() # новый датасет,в котором каждому фильму будет соответсвовать строка с 1 жанром
data_cage = data_cage[data_cage.cast.str.contains("Nicolas Cage", na = False)]
data_cage['genres'] = data_cage['genres'].apply(lambda x: x.split('|'))
data_cage = data_cage.explode('genres')
data_cage.groupby(by='genres').genres.count().sort_values(ascending=False)

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [126]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626) ' # +

In [132]:
d2 = data[data.production_companies.str.contains("Paramount Pictures", na = False)]
d2[d2["profit"] == d2["profit"].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [133]:
answers['19'] = '5. 2015' # +

In [134]:
data.groupby(by = 'release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [136]:
answers['20'] = '1. 2014' # +

In [137]:
data_wb = data[data.production_companies.str.contains("Warner Bros", na = False)]
data_wb.groupby(by = 'release_year').revenue.sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [150]:
answers['21'] = '4. Сентябрь' # +

In [149]:
data_mon = data.copy()
data_mon["release_month"] = data_mon["release_date"]
data_mon["release_month"] = data_mon.release_month.apply(lambda x: str(x).split('-')[1] )
data_mon.groupby(by = 'release_month').release_month.count().sort_values(ascending=False)

release_month
09    227
12    190
10    186
08    161
03    156
04    149
06    147
11    146
07    142
05    140
02    135
01    110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [175]:
answers['22'] = '2. 450' # +

In [190]:
data_mon["release_season"] = data_mon["release_month"]
data_mon["release_season"] = data_mon.release_season.apply(lambda x: seasons[str(x)] )
data_mon[data_mon.release_season == 'summer']['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [192]:
answers['23'] = '5. Peter Jackson' # +

In [191]:
d_directors_winter = data_mon[ data_mon.release_season == "winter"];
d_directors_winter['director'] = d_directors_winter['director'].apply(lambda x: x.split('|'))
d_directors_winter = d_directors_winter.explode('director')
d_directors_winter.groupby(by='director').revenue.count().sort_values(ascending=False)

<ipython-input-191-2b9a61d2e2b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_directors_winter['director'] = d_directors_winter['director'].apply(lambda x: x.split('|'))

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: revenue, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = '5. Four By Two Productions' # +

In [202]:
data_comps = data.copy()
data_comps["title_len"] = data_comps["original_title"]
data_comps['title_len'] = data_comps['title_len'].apply(lambda x: len(x))
data_comps['production_companies'] = data_comps['production_companies'].apply(lambda x: x.split('|'))
data_comps = data_comps.explode('production_companies')
data_comps.groupby(by='production_companies').title_len.mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = '3. Midnight Picture Show' # +

In [207]:
data_comps["overview_wc"] = data_comps["overview"]
data_comps['overview_wc'] = data_comps['overview_wc'].apply(lambda x: len(str(x).split()))
data_comps.groupby(by='production_companies').overview_wc.mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_wc, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [ ]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

In [214]:
data[data.vote_average >= data["vote_average"].quantile(0.99)]["original_title"]

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [221]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint ' # +

In [271]:
cast_pairs = dict()
max_count = 0;

actors = data_cast_high["cast"].unique()
casts = data["cast"].unique()
for s in casts:
    acts = s.split("|")
    for a in acts:
        for b in acts:
            if a < b:
                if (a,b) in cast_pairs:
                    cast_pairs[(a,b)] = cast_pairs[(a,b)] + 1
                else:
                    cast_pairs[(a,b)] = 1

for p in cast_pairs:
    now_count = cast_pairs[p]
    if now_count > max_count:
        max_count = now_count
for p in cast_pairs:
    now_count = cast_pairs[p]
    if now_count == max_count:
        print(now_count, p)

8 ('Daniel Radcliffe', 'Rupert Grint')
8 ('Daniel Radcliffe', 'Emma Watson')
8 ('Emma Watson', 'Rupert Grint')